body {
    margin: 0;
    font-family: Arial;
    background: linear-gradient(135deg, #ff7a00, #ffd000);
    display: flex;
    justify-content: center;
    padding: 40px 0;
}

.card {
    background: #f3f3f3;
    padding: 30px;
    border-radius: 14px;
    width: 450px;
}

.dias {
    display: flex;
    gap: 10px;
    margin: 15px 0;
    flex-wrap: wrap;
}

.dias button {
    padding: 10px;
    border-radius: 10px;
    border: none;
    background: #ddd;
    cursor: pointer;
}

.dias button.active {
    background: #ff7a00;
    color: white;
}

.contenido {
    background: #fff;
    padding: 15px;
    border-radius: 10px;
}