# Configuración de Base de Datos
DATABASE_URL="postgresql://usuario:password@localhost:5432/rumbofit?schema=public"

# Seguridad
JWT_SECRET="tu_secreto_aqui"

# Configuración de Email (Nodemailer)
EMAIL_USER="rumbofit.oficial@gmail.com"
EMAIL_PASS="tu_contraseña_de_aplicacion_aqui"
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=465
