# Configuración de Base de Datos
DATABASE_URL="postgresql://usuario:password@localhost:5432/rumbofit?schema=public"

# Firebase Firestore (solo apartado social)
FIREBASE_API_KEY="AIzaSyC_RMlHNFPK7pP9TBftLz1OHx2oaEWbVL4"
FIREBASE_AUTH_DOMAIN="rumbofit-7547c.firebaseapp.com"
FIREBASE_PROJECT_ID="rumbofit-7547c"
FIREBASE_STORAGE_BUCKET="rumbofit-7547c.firebasestorage.app"
FIREBASE_MESSAGING_SENDER_ID="432601597806"
FIREBASE_APP_ID="1:432601597806:web:6dba4e5695ba334b42637f"

# Seguridad
JWT_SECRET="tu_secreto_aqui"

# Configuración de Email (Nodemailer)
EMAIL_USER="rumbofit.oficial@gmail.com"
EMAIL_PASS="tu_contraseña_de_aplicacion_aqui"
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=465

# Stripe (Pasarela de Pago — modo Sandbox/Test)
STRIPE_SECRET_KEY=sk_test_51TWL1tHYDCqDcwTab9fyJFyi1PhHNpfK35P1F0RtkQD5NzYKER0hOIadlSR9EmWFAzhgxPsn1nkIPeFJHbBcIYlm00cpkqXRwr
STRIPE_PUBLISHABLE_KEY=pk_test_51TWL1tHYDCqDcwTaFil3GxKsyWj6UJNmnk0gbXPCjWtJQy1up4RgEYbOzZYBMM42dUvcOS59gA81vxfVYlMbtsK7007pRjq7cs
PREMIUM_PRICE_CENTS=999
